* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 18px;
}

body {
    background-color: #efefef;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

a {
    color: black;
}

/*  TOP BAR  */


.top-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid black;
}

@media only screen and (min-width: 450px) {
    .top-header {
        flex-direction: row;
        justify-content: space-between;
        height: 4rem;
    }
}

.logo {
    width: 100vw;
    align-self: center;
    height: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    text-align: center;
}

@media only screen and (min-width: 450px) {
    .logo {
        width: 70vw;
        text-align: start;
        border-bottom: none;
        padding-left: 2rem;
    }
}


/*  MAIN NAVIGATION  */

.main-menu {
    display: flex;
    height: 2rem;
    width: 100vw;
    /*border-bottom: 1px solid black;*/
}

@media only screen and (min-width: 450px) {
    .main-menu {
        height: 4rem;
        width: 30vw;
    }
}

.top-menu {
    display: flex;
    width: 100vw;
}

.top-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-menu li:first-of-type {
    border-right: 1px solid black;
}


@media only screen and (min-width: 450px) {
    .top-menu {
        width: 30vw;
    }

    .top-menu li {
        width: 15vw;
        border-left: 1px solid black;
    }

    .top-menu li:hover {
        border-bottom: 1px solid black;
    }

    .top-menu li:first-of-type {
        border-right: none;
    }
}

.main-menu li {
    width: 50vw;
}

.main-menu li:hover {
    background-color: #dbd8d6;
}

.main-menu li a {
    color: black;
}

.dropdown {
    display: flex;
    height: 3rem;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 0;
    display: none;
}

@media only screen and (min-width: 450px) {
    .dropdown {
        display: flex;
        width: 15vw;
        height: 12rem;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 0;
        display: none;
    }
}

.dropdown li {
    height: 2rem;
    padding: 1rem;
    border-bottom: 1px solid black;
    background-color: #efefef;
    width: 100vw;
}

.dropdown li:first-child {
    border-right: none;
    border-top: 1px solid black;
}

.dropdown li:hover {
    border-bottom: 1px solid black;
}

@media only screen and (min-width: 450px) {
    .dropdown li {
        min-height: 4rem;
        width: 15vw;
        right: 0;
    }

    .dropdown li:first-child {
        border-top: none;
    }
}

/*  HEADER  */

.station-info {
    padding: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

.station-toggle {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    font-size: 0.9rem;
    justify-content: space-between;
}

.station-toggle a {
    color: #838180;
}

.current {
    display: none;
}

@media only screen and (min-width: 450px) {
    .current {
        display: block;
        font-style: italic;
        color: #838180;
    } 
}

.current-station {
    display: flex;
    flex-direction: row; 
    align-items: baseline;
    justify-content: center;
}

@media only screen and (min-width: 450px) {
    .current-station {
        justify-content: start;
    }
}

.station-description {
    padding-top: 0.5rem;
}


.station-info h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

@media only screen and (min-width: 450px) {
    .station-info h1 {
        padding: 0 2rem;
    }
}

@media only screen and (min-width: 550px) {
    .station-info h1 {
        font-size: 2rem;
    }

    .station-description {
        max-width: 80%;
    }
}


/*  GRID  */

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(38, 3.5rem);
    grid-gap: 4px;
}

figure {
    position: relative;
}

.figure-one {
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
}

.image {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

figcaption {
    background-color: #dbd8d6;
    color: black;
    font-size: 0.8rem;
    position: absolute;
    padding: 5px;
    z-index: 5;
    text-align: center;
}

figcaption a {
    color: black;
    font-weight: bold;
}

.figure-two {
    grid-row: 4 / span 4;
    grid-column: 3 / span 2;
}

.caption-2, .caption-4 {
    top: 1rem;
    left: -8rem;
    width: 10rem;
} 

.quote {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 0 10px 1rem 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    font-size: 0.9rem;
}

.quote-source {
    display: contents;
    font-style: italic;
}

.quote-one {
    grid-row: 8 / span 4;
    grid-column: 1 / span 4;
}

.figure-three {
    grid-row: 11 / span 4;
    grid-column: 1 / span 2;
}

.figure-four {
    grid-row: 15 / span 3;
    grid-column: 3 / span 2;
}

.quote-two {
    grid-row: 19 / span 4;
    grid-column: 1 / span 4;
}

.figure-five {
    grid-row: 23 / span 3;
    grid-column: 1 / span 3;
}

.figure-six {
    grid-row: 26 / span 3;
    grid-column: 3 / span 3;
}

.quote-three {
    grid-row: 30 / span 4;
    grid-column: 1 / span 4;
}

.figure-seven {
    grid-row: 34 / span 3;
    grid-column: 1 / span 5;
}



@media only screen and (min-width: 400px) and (max-width: 699px) {
    main {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(29, 3.5rem);
    }

    .figure-one {
        grid-row: 1 / span 3;
        grid-column: 1 / span 3;
    }

    .figure-two {
        grid-column: 5 / span 2;
        z-index: 10;
    }

    .caption-2 {
        top: 1rem;
        left: -9rem;
        width: 10rem;
    } 

    .quote-one {
        grid-row: 6 / span 4;
        grid-column: 1 / span 4;
    }

    .figure-three {
        grid-row: 9 / span 4;
        grid-column: 1 / span 2;
    }

    .figure-four {
        grid-row: 11/ span 3;
        grid-column: 4 / span 3;
    }

    .caption-4 {
        left: -3rem; 
        top:-2rem;
        width: 12rem;
    }

    .quote-two {
        grid-row: 16 / span 4;
        grid-column: 2 / span 4;
    }
    
    .figure-five {
        grid-row: 19 / span 3;
        grid-column: 1 / span 3;
    }

    .figure-six {
        grid-row: 20 / span 5;
        grid-column: 5 / span 2;
    }

    .quote-three {
        grid-row: 23 / span 4;
        grid-column: 1 / span 4;
    }

    .figure-seven {
        grid-row: 27 / span 3;
        grid-column: 4 / span 3;
    }

    .caption-7 {
        top: 3rem;
        left: -14rem;
        width: 15rem;
    }
}



@media only screen and (min-width: 700px) {
    main {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(24, 3.5rem);
        max-width: 900px;
        margin: 0 auto;
    }

    .figure-one {
        grid-row: 1 / span 3;
        grid-column: 1 / span 5;
    }

    .figure-two {
        grid-row: 7 / span 5;
        grid-column: 7 / span 4;
        z-index: 10;
    }

    .caption-2 {
        top: 1rem;
        left: 9rem;
        width: 10rem;
    } 

    .quote-one {
        grid-row: 4 / span 3;
        grid-column: 3 / span 6;
        z-index: 10;
    }

    .figure-three {
        grid-row: 1 / span 5;
        grid-column: 10 / span 3;
    }

    .figure-four {
        grid-row: 8 / span 3;
        grid-column: 2 / span 4;
    }

    .caption-4 {
        left: -3rem; 
        top:-2rem;
        width: 12rem;
    }

    .quote-two {
        grid-row: 14 / span 3;
        grid-column: 6 / span 6;
    }
    
    .figure-five {
        grid-row: 16 / span 5;
        grid-column: 5 / span 5;
    }

    .figure-six {
        grid-row: 14 / span 4;
        grid-column: 1/ span 3;
    }

    .quote-three {
        grid-row: 20 / span 3;
        grid-column: 1/ span 6;
    }

    .figure-seven {
        grid-row: 21 / span 5;
        grid-column: 8/ span 5;
    }

    .caption-7 {
        top: 7rem;
        left: -14rem;
        width: 15rem;
    }
    
}


/*  FOOTER   */

footer {
    width: 100%;
    height: 2rem;
    border-top: 1px solid black;
    background-color: #efefef;
    position: fixed;
    z-index: 999;
    width: 100%;
    bottom: 0;
    right: 0;
}
