* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 18px;
}

body {
    background-color: #efefef;
    font-family: 'Zilla Slab', serif;
}


/*  TOP BAR  */


.top-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid black;
}

@media only screen and (min-width: 450px) {
    .top-header {
        flex-direction: row;
        justify-content: space-between;
        height: 4rem;
    }
}

.logo {
    width: 100vw;
    align-self: center;
    height: 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    text-align: center;
}

@media only screen and (min-width: 450px) {
    .logo {
        width: 70vw;
        text-align: start;
        border-bottom: none;
        padding-left: 2rem;
    }
}


/*  MAIN NAVIGATION  */

.main-menu {
    display: flex;
    height: 2rem;
    width: 100vw;
    /*border-bottom: 1px solid black;*/
}

@media only screen and (min-width: 450px) {
    .main-menu {
        height: 4rem;
        width: 30vw;
    }
}

.top-menu {
    display: flex;
    width: 100vw;
}

.top-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-menu li:first-of-type {
    border-right: 1px solid black;
}


@media only screen and (min-width: 450px) {
    .top-menu {
        width: 30vw;
    }

    .top-menu li {
        width: 15vw;
        border-left: 1px solid black;
    }

    .top-menu li:hover {
        border-bottom: 1px solid black;
    }

    .top-menu li:first-of-type {
        border-right: none;
    }
}

.main-menu li {
    width: 50vw;
}

.main-menu li:hover {
    background-color: lightgrey;
}

.main-menu li a {
    color: black;
}

.dropdown {
    display: flex;
    height: 3rem;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 0;
    display: none;
}

@media only screen and (min-width: 450px) {
    .dropdown {
        display: flex;
        width: 15vw;
        height: 12rem;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 0;
        display: none;
    }
}

.dropdown li {
    height: 2rem;
    padding: 1rem;
    border-bottom: 1px solid black;
    background-color: #efefef;
    width: 100vw;
}

.dropdown li:first-child {
    border-right: none;
    border-top: 1px solid black;
}

.dropdown li:hover {
    border-bottom: 1px solid black;
}

@media only screen and (min-width: 450px) {
    .dropdown li {
        min-height: 4rem;
        width: 15vw;
        right: 0;
    }

    .dropdown li:first-child {
        border-top: none;
    }
}

/*  HEADER  */

.station-info {
    padding: 1rem;
    border-bottom: 1px solid black;
}

.current {
    display: none;
}

@media only screen and (min-width: 450px) {
    .current {
        display: block;
        font-style: italic;
        color: grey;
    } 
}

.current-station {
    display: flex;
    flex-direction: row; 
    align-items: baseline;
    justify-content: center;
}

@media only screen and (min-width: 450px) {
    .current-station {
        justify-content: start;
    }
}

.station-description {
    padding-top: 0.5rem;
}


.station-info h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

@media only screen and (min-width: 450px) {
    .station-info h1 {
        padding: 0 2rem;
    }
}

@media only screen and (min-width: 550px) {
    .station-info h1 {
        font-size: 2rem;
    }

    .station-description {
        max-width: 80%;
    }
}


/*  FOOTER   */

footer {
    width: 100%;
    height: 2rem;
    border-top: 1px solid black;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
}
